<div class="ui container">

  <!-- banner -->
  <div class="cover-image padding" <%= render_bg_img(cocktail_image_path(@cocktail)) %>>
    <!-- bg underlay -->
    <div class="background-underlay cocktail-banner-img">
      <img src="<%= cocktail_image_path(@cocktail) %>">
    </div>
    <!-- banner content -->
    <div class="ui basic fluid segment">
      <div class="margin-top">
        <h1 class="ui center aligned inverted icon header">
          <i class="tiny circular inverted flask icon transform-sm"></i>
          <em>The Cocktail Lab</em>
        </h1>
      </div>
    </div>
  </div>

  <div class="cocktail-avatar-overlap padding-left">
    <div class="img-sq-circle cocktail-avatar flex_static">
      <img src="<%= cocktail_image_path(@cocktail) %>" alt="<%= @cocktail.name %>">
    </div>
  </div>

</div>
