<div class="ui padded basic container segment">

  <div class="ui raised very padded purple segment">

    <%= render partial: 'shared/cocktail_list', locals: { cocktails: @cocktails } %>

  </div>

</div>
