<% if @errors.any? %>

  <% error_messages = "<ul class='list'><li>#{@errors.full_messages.join('</li><li>')}</li></ul>" %>
  $('#notifications-box').append("<%= render partial: 'shared/alert', locals: { title: 'Alert', message: error_messages } %>")

  jshelper.activateNotifications();

<% else %>

  $('#mark-link i').toggleClass('yellow grey outline')
  var label = $('#mark-link span')
  label.html(label.html().trim() == 'Save' ? 'Saved' : 'Save')

<% end %>
