<div class="ui very padded basic container segment">
  <div class="ui padded basic segment">
    <h1 class="ui center aligned icon header">
      <i class="circular glass martini icon"></i>
      <%= @cocktail.name %>
    </h1>
  </div>
  <div class="ui very padded text segment">
    <%= @cocktail.description %>
  </div>
</div>
