// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

// index

$avatar-size: 160px;
$avatar-size-tablet: $avatar-size * 1.2;
$avatar-size-monitor: $avatar-size * 1.4;

.cocktail-banner-img {
  img {
    @media only screen and (min-width: $breakpoint-tablet){
      filter: blur(12px);
    }
  }
}

.cocktail-index-actions {
  margin-bottom: 1rem;
  @media only screen and (min-width: $breakpoint-tablet) {
    margin: none;
  }
}

.cocktail-avatar {
  height: $avatar-size;
  width: $avatar-size;
  @media only screen and (min-width: $breakpoint-tablet){
    height: $avatar-size-tablet;
    width: $avatar-size-tablet;
  }
  @media only screen and (min-width: $breakpoint-monitor){
    height: $avatar-size-monitor;
    width: $avatar-size-monitor;
  }
}

.cocktail-overlapping-header {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  padding-left: 1rem;
  & > div:first-child {
    position: relative;
    border: none;
  }
  & > div:nth-child(2) {
    align-self: center;
  }
  .description {
    max-height: $avatar-size * 0.7;
    overflow: auto;
  }
  @media only screen and (min-width: $breakpoint-tablet) {
    min-height: $avatar-size-tablet * 0.5;
    max-height: $avatar-size-tablet * 0.7;
    padding: 0 0 0 3rem;
    & > div:first-child {
      position: absolute;
      left: 2rem;
      transform: translate(0, -50%);
      border: 4px solid $white;
    }
    & > div:nth-child(2) {
      align-self: flex-start;
      margin-top: 1rem;
      margin-left: $avatar-size-tablet;
    }
    .description {
      max-height: $avatar-size-tablet * 0.4;
    }
  }
  @media only screen and (min-width: $breakpoint-monitor) {
    min-height: $avatar-size-monitor * 0.5;
    max-height: $avatar-size-monitor * 0.7;
    & > div:nth-child(2) {
      margin-left: $avatar-size-monitor;
    }
    .description {
      max-height: $avatar-size-monitor * 0.4;
    }
  }
}

.cocktail-list {
  height: auto;
  .item {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }
}

.cocktail-badge-list {
  &::-webkit-scrollbar {
    display: none;
  }
  .cocktail-badge {
    white-space: normal;

    .cocktail-badge-content {
      height: 150px;
      width: 90px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.cocktail-lab-actions {
  transform: translate(0, -50%);
}

.new-cocktail-banner {
}
