// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

// index

$avatar-size: 160px;

.cocktail-avatar {
  height: $avatar-size;
  width: $avatar-size;
  @media only screen and (min-width: $breakpoint-tablet){
    height: $avatar-size * 1.5;
    width: $avatar-size * 1.5;
  }
}

.cocktail-banner-img {
  @media only screen and (min-width: $breakpoint-tablet){
    filter: blur(12px);
  }
}

.cocktail-list {
  .item {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }
}

.cocktail-badge-list {
  &::-webkit-scrollbar {
    display: none;
  }
  .cocktail-badge {
    white-space: normal;

    .cocktail-badge-content {
      height: 150px;
      width: 90px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

// show
