// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

// index

$avatar-size: 160px;

.cocktail-avatar {
  height: $avatar-size;
  width: $avatar-size;
  @media only screen and (min-width: $breakpoint-tablet){
    height: $avatar-size * 1.2;
    width: $avatar-size * 1.2;
  }
  @media only screen and (min-width: $breakpoint-monitor){
    height: $avatar-size * 1.4;
    width: $avatar-size * 1.4;
  }
}

.cocktail-avatar-overlap {
  height: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  div:first-child {
    margin-left: 2rem;
    position: absolute;
    border: 4px solid rgba($white, 0.8);
    transform: translate(0, -50%);
  }
  @media only screen and (max-width: $breakpoint-tablet - 1px){
    display: none;
  }
}

.cocktail-banner-img {
  img {
    @media only screen and (min-width: $breakpoint-tablet){
      filter: blur(12px);
    }
  }
}

.cocktail-list {
  .item {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }
}

.cocktail-badge-list {
  &::-webkit-scrollbar {
    display: none;
  }
  .cocktail-badge {
    white-space: normal;

    .cocktail-badge-content {
      height: 150px;
      width: 90px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

// show
