// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.site-banner
[class^="site-banner--"],
[class*=" site-banner--"] {
  background-image: url(homebanner.jpg);
  box-shadow: inset 0 0 100px black;
  &[class*="--home"] {
    height: 400px;
    @media only screen and (min-width: $breakpoint-tablet){
      height: 560px;
    }
    @media only screen and (min-width: $breakpoint-monitor){
      height: 700px;
    }
  }
  &[class*="--page"] {
    height: 140px;
    @media only screen and (min-width: $breakpoint-tablet){
      height: 160px;
    }
    @media only screen and (min-width: $breakpoint-monitor){
      height: 180px;
    }
  }
}

.site-banner-logo {
  transform: translate(5%, 0);
}

.site-banner-header {
  text-align: center;
  font-size: 48px;
  letter-spacing: 2px;
  padding-top: 0.5rem;
}

.home-content {
  padding-bottom: 4rem;
  section {
    margin-top: 2rem;
  }
}

.home-user-action {
  height: 160px;
}

.homepage-container {
  @media only screen and (min-width: $breakpoint-monitor) {
    transform: translate(0, -6rem);
  }
}
