// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.home-banner {
  background-image: url(homebanner.jpg);
  box-shadow: inset 0 0 100px black;
  height: 500px;

  @media only screen and (min-width: $breakpoint-tablet){
    height: 600px;
  }
  @media only screen and (min-width: $breakpoint-monitor){
    height: 700px;
  }
}

.home-content {
  padding-bottom: 4rem;
  section {
    margin-top: 2rem;
  }
}

.home-user-action {
  height: 160px;
}
