<div class="ui warning icon message app-alert">
  <i class="exclamation triangle icon"></i>
  <i class="close icon"></i>
  <div class="content">
    <div class="header"><%= title %></div>
    <%= message %>
  </div>
</div>
