<div class="item">
  <div class="ui small image">
    <img src="<%= cocktail_image_path(cocktail) %>">
  </div>
  <div class="content padding-all">
    <div class="header"><%= cocktail.name %></div>
    <div class="meta">
      <span><%= cocktail_creator(cocktail) %></span>
    </div>
    <div class="description">
      <p><%= @review.cocktail.description %></p>
    </div>
  </div>
</div>
