<div class="ui info icon message app-notice">
  <i class="info circle icon"></i>
  <i class="close icon"></i>
  <div class="content">
    <div class="header"><%= title %></div>
    <%= message %>
  </div>
</div>
