
  <div class="notifications-box">
    <div id="notifications-box" class="ui padded middle aligned basic container segment">

      <% if notice %>
        <%= render partial: 'shared/notice', locals: { title: 'Notice', message: notice } %>
      <% end %>

      <% if alert %>
        <%= render partial: 'shared/alert', locals: { title: 'Alert', message: alert }  %>
      <% end %>

    </div>
  </div>
