<div <%= "id=#{id}" if local_assigns[:id] %> class="flex-center padding-all">
  <%= will_paginate items, param_name: param_name ||= :page, class: "ui pagination menu", renderer: RemoteLinkPagination::LinkRenderer %>
</div>
