<div class="item">
  <!-- header -->
  <div class="header">
    <span class="flex-row flex_wrap inline">
      <!-- labels -->
      <div class="ui yellow label"><i class="star icon"></i> <%= review.rating %></div>
      <div class="ui label"><i>@</i> <%= review.user.name %></div>
      <!-- title -->
      <em class="inline margin-left">"<%= review.title %>"</em>
    </span>
  </div>

  <!-- content -->
  <% if review.text %>
  <div class="description margin-top">
    <p><%= review.text %></p>
  </div>
  <% end %>
</div>
