<div class="ui container">
  <div class="ui basic segment">
    <h1 class="ui center aligned huge header">Ingredients</h1>
  </div>
  <div class="ui middle aligned very relaxed divided selection list">
    <% @ingredients.each do |ing| %>
      <div class="item">
        <i class="large middle aligned green leaf icon"></i>
        <div class="content">
          <div class="header"><%= ing.name.capitalize %></div>
          <div class="description">Used in <%= ing.recipes.count %> recipe<%= 's' if ing.recipes.count != 1 %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
