<div class="ui container">
  <div class="ui segment margin-top">
    <h1 class="ui header">Home</h1>
  </div>
  <div class="ui four column doubling stackable grid container">
    <% 4.times do %>
    <div class="column">
      <div class="ui raised segment">
        <div class="ui placeholder">
          <div class="image header">
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="paragraph">
            <div class="medium line"></div>
            <div class="short line"></div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
