<div class="ui container">
  <div class="ui segment">
    <% if @results.any? %>
      <div class="ui very relaxed divided list">
        <% @results.each do |cocktail| %>
          <%= link_to cocktail_path(cocktail), class: 'item' do %>
            <div class="header"><%= cocktail.name %></div>
            <p><%= cocktail.description %></p>
            <% cocktail.ingredients.select { |ingr| ingr.name.include? @query }.each do |ingr| %>
              <div class="ui label"><%= ingr.name %></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      No results.
    <% end %>
  </div>
</div>
