<div class="ui basic padded container segment">
  <div class="flex-col-middle margin-top padding-top">

    <h1 class="ui header">
      <div class="ui sub header">
        404: Not Found
      </div>
    </h1>

    <div class="ui basic segment">
      <%= cl_image_tag 'cocktail_404.png', class: 'ui centered small image' %>
    </div>

    <subtitle class="ui header">
      Oops! There doesn't seem to be anything here.
    </subtitle>

    <p>
      <%= link_to "Click here to go home.", root_path %>
    </p>

  </div>
</div>
