// remove semantic ui default navbar margin
#navbar.ui.menu {
  margin-bottom: 0;
}

// remove white-space wrap on ui card meta elements
.ui .card .meta span {
  white-space: nowrap;
}

// add zoom on hover to semantic ui card
.ui .card a.image.hover--zoom {
  overflow: hidden;

  img {
    transition: transform $transition-med ease-out;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

// prevent semantic ui container gutter margins on mobile devices
@media only screen and (max-width: $breakpoint-tablet) {
  *.ui.container {
    margin: 0 !important;
  }
}
