@import './variables';

.navbar-offset-margin {
  margin-top: $navbar-height;
}

.navbar-offset-top {
  top: $navbar-height;
}

.pos-relative {
  position: relative;
}

.cover-image {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.hide {
  display: none;
}

.margin-all {
  margin: 1rem;
}
.margin-x {
  margin: 0 1rem;
}
.margin-y {
  margin: 1rem 0;
}
.margin-right {
  margin-right: 1rem;
}
.margin-left {
  margin-left: 1rem;
}
.margin-top {
  margin-top: 1rem;
}
.margin-bot {
  margin-bottom: 1rem;
}
.no-margin {
  margin: 0;
}
.padding-x {
  padding: 0 1rem;
}
.padding-y {
  padding: 1rem 0;
}
.padding-top {
  padding-top: 1rem;
}
.padding-bot {
  padding-bottom: 1rem;
}
.padding {
  padding: 1rem;
}

[class*="flex-"] {
  display: flex;
  &[class*="-row"] {
    flex-direction: row;
  }
  &[class*="-col"] {
    flex-direction: column;
  }
  &[class*="-head"] {
    justify-content: flex-start;
  }
  &[class*="-center"] {
    justify-content: center;
  }
  &[class*="-tail"] {
    justify-content: flex-end;
  }
  &[class*="-spaced"] {
    justify-content: space-around;
  }
  &[class*="-divide"] {
    justify-content: space-between;
  }
  &[class*="-start"] {
    align-items: flex-start;
  }
  &[class*="-middle"] {
    align-items: center;
  }
  &[class*="-end"] {
    align-items: flex-end;
  }
}

.flex_grow {
  flex-grow: 1;
}
.flex_fluid {
  flex-grow: 1;
  flex-shrink: 1;
}
.flex_static {
  flex-grow: 0;
  flex-shrink: 0;
}

.scrolling-width {
  white-space: nowrap;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow-x: scroll;
}

.bordered {
  border: 1px solid black;
}
