@import './variables';

.navbar-offset-margin {
  margin-top: $navbar-height;
}

.navbar-offset-top {
  top: $navbar-height;
}

.cover-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: fixed;
}

.margin-top {
  margin-top: 1rem;
}
