@import './variables';

.navbar-offset-margin {
  margin-top: $navbar-height;
}

.navbar-offset-top {
  top: $navbar-height;
}

.cover-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: fixed;
}

.margin-top {
  margin-top: 1rem;
}
.margin-bot {
  margin-bottom: 1rem;
}
.no-margin {
  margin: 0;
}
.padding-top {
  padding-top: 1rem;
}
.padding-bot {
  padding-bottom: 1rem;
}

.scrolling-width {
  white-space: nowrap;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow-x: scroll;
}

.bordered {
  border: 1px solid black;
}
