<% if notice || alert %>
  <div class="ui container notifications-box">
    <% if notice %>
      <div class="ui icon message app-notice">
        <i class="info circle icon"></i>
        <i class="close icon"></i>
        <div class="content">
          <div class="header">Notice</div>
          <p><%= notice %></p>
        </div>
      </div>
    <% end %>

    <% if alert %>
      <div class="ui icon message app-alert">
        <i class="exclamation triangle icon"></i>
        <i class="close icon"></i>
        <div class="content">
          <div class="header">Alert</div>
          <p><%= alert %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
